.calendar-wrapper{
    display: grid;
    justify-content: center;
    margin: 3rem 0 0 0;
    text-align: center;
}

.calendar-wrapper > p{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.calendar-box{
    background-color: #ffffff;
    width: 40rem;
    height: 100%;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
    border: 1.3px solid #aec2b0;
    border-radius: 0.5rem;
}

.days-box{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1.5rem  0;
}

.date-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1.5rem;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.3rem;
}

.valid :hover {
    transform: scale(1.01);
    color: #aec2b0;
}

.not-valid {
    color: #b7b7b7;
}

.selected {
    transform: scale(1.02);
    background-color: #aec2b0;
    border-radius: 10rem;
    padding: 1.5rem;
    color: #ffffff;
}

.month-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-header > img {
    width: 1.5rem;
    height: 2rem;
    cursor: pointer;
}

.month {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 10rem 1.5rem 10rem;
}

.month > span {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 1.5rem;
}