.calendar-wrapper{
    display: grid;
    justify-content: center;
    margin: 3rem 0 0 0;
    text-align: center;
}

.calendar-wrapper > p{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.calendar-box{
    background-color: #ffffff;
    width: 40rem;
    height: 35rem;
    border: 1.3px solid #aec2b0;
    border-radius: 0.5rem;
}

.days-box{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
}

.date-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1.5rem;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2rem;
}

.col > span{
    margin: 1rem 0 0 1rem;
}

.col > .not-valid {
    color: #b7b7b7;
}