.calendar-wrapper{
    display: grid;
    justify-content: center;
    margin: 3rem 0 0 0;
    text-align: center;
}

.calendar-wrapper > p{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.calendar-box{
    background-color: #ffffff;
    width: 40rem;
    height: 35rem;
    border: 1.3px solid #aec2b0;
    border-radius: 0.5rem;
    padding: 0 1rem;
    /* box-shadow: #e0e0e0 2px 3px 3px; */
}

.days-box{
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
}

.date-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 2rem 0 0 0;
}

.date-box > a >p{
    font-size: 1.5rem;
    margin: 2rem 2rem;
    text-align: center;
}