.main-bg{
    background-color: #E9E9E9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    border-radius: 1rem;
    padding: 5rem;
    width: 80rem;
    height: 50rem;
    background-color: #FFFFFF;
    box-shadow: #a3a3a3 10px 10px 10px;
}

.tab-menu{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.tab-menu > a{
    font-size: 1.3rem;
}

.login-input{
    display: grid;
    justify-content: center;
}

.login-input > div {
    margin: 1.5rem 0;
    display: flex;
}

.login-input > div > input{
    border-bottom: 1px solid #315A52;
    width: 25rem;
}

.login-input > div > img{
    border-bottom: 1px solid #315A52;
}

.logo-img{
    display: flex;
    justify-content: center;
}

.logo-img > img {
    width: 200px;
    height: 40px;
}