/* 라이트 모드 스타일 */
body {
    color: #1a1a1a;
    background-color: #f7f7f7;
}
header > h1 {
    color: #1a1a1a;
    margin: 7rem 0 0 7rem;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 3px;
}

header > p {
    color: #1a1a1a;
    margin: 2rem 0 0 7.5rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin: 6rem 0 3rem 0;
}

.input-box {
    color: #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2.5rem 3rem 5rem 3rem;
    width: 60%;
    box-shadow: #b9b9b9 3px 5px 5px;
}

.input-box-header {
    display: flex;
    align-items: center;
    position: relative;
}

.train-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 1.5rem 0 0;
}

.input-box-header > h3 {
    font-size: 1.5rem;
    font-weight: 700;
}


.checkBox-wrap {
    display: flex;
    align-items: center;
    margin: 3rem 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.35s ease;
}

.checkBox-wrap > input {
    appearance: none;
    border-color: #ffffff;
    background-color: #ffffff;
    border: 1.5px solid gainsboro;
    border-radius: 0.35rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.8rem 0 0;
}

.checkBox-wrap > input:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #315A52;
}

.checkBox-wrap > p {
    font-size: 1.6rem;
    font-weight: 500;
}

input{
    color: #1a1a1a;
}

/* 다크 모드 스타일 */
@media (prefers-color-scheme: dark) {
    body{
        background-color: #333; /* 다크 모드 배경 색상 업데이트 */
        height: 140vh;
    }

    header > h1 {
        color: #fff;
    }

    header > p {
        color: #ccc;
    }

    .input-box {
        color: #ffffff;
        /*background-color: #1a1a1a;*/
        background-color: #1a1a1a;
        box-shadow: #000 3px 5px 5px;
    }

    .checkBox-wrap {
        background-color: #242424;
        color: #fff;
    }
    input{
        color: #1a1a1a;
    }
}
